/* fonts */
@font-face {
    font-family: 'text-bold';
    src: url(../fonts/Barlow-Bold.otf);
}
@font-face {
    font-family: 'text-light';
    src: url(../fonts/Barlow-Light.otf);
}
@font-face {
    font-family: 'text-medium';
    src: url(../fonts/Barlow-Medium.otf);
}

/* variables */
@red: #b80e29;
@white: #ffffff;
@black: #000000;
@almostblack: #262626;
@placeholder: #c8c8c8;
@formcolor: #a9a9a9;
@purple: #ce007f;
@orange: #ed7203;
@green: #65b22e;
@blue: #006fb8;

html, * {
    font-family: 'text-medium';
}

.header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;

    .header-social {
        a {
            color: @red;
            font-size: 1.5rem;
            margin-right: .5rem;
        }
    }
}

.banner {
    background: url('../img/viveutp_final-cgt-FONDO.png');
    background-size: contain;
    padding-top: 2.5rem;
    user-select: none;

    .bannerimg {
        background: url(../img/viveutp-final-cgt-PERSONA.png);
        background-size: cover;
        background-position: center;
    }

    .datacont {
        justify-content: center;
        align-items: center;
    }

    .bannertitle {
        font-family: 'text-medium';
        font-size: 3.5rem;
        color: @white;
    }
    .subtitle {
        font-family: 'text-medium';
        font-size: 1.1rem;
        line-height: 1.15rem;
        margin: 1rem 0;
        color: @white;
    }

    .utpform {
        padding-bottom: .5rem;

        input, select{
            margin-bottom: .5rem;
        }
        input, select, textarea {
            border-color: @placeholder;
            color: @formcolor;
            border-radius: 0;
        }
        input::placeholder, textarea::placeholder {
            color: @placeholder;   
            font-family: 'text-light';         
        }
        .formbutton {
            width: 100%;
            background: @red;
            border-color: @red;
            color: @white;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
}

.midbanner {
    padding-top: 2rem;
    justify-content: center;
    padding-bottom: 1rem;

    .title {
        font-family: 'text-bold';
        font-size: 2rem;
        color: @black;
        text-align: center;
        margin-bottom: 2rem;
    }

    .buttonscont {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttonblack {
            font-family: 'text-bold';
            display: inline-block;
            background: @almostblack;
            color: @white;
            padding: 1rem 1.25rem;
        }
        .buttonblack:hover {
            color: @formcolor;
        }
    }
}

.footer {
    background: @almostblack;
    .footer-text {
        position: relative;
        padding-top: 1rem;
        p {
            font-family: 'text-light';
            color: @white;
            display: inline;
        }
        .chat-footer {
            position: absolute;
            top: -15px;
            right: 0;
            a {
                margin-right: 2px;
                img {
                    width: 30px;
                }
            }
        }
    }

}

.banner.convalida {
    background: url(../img/viveutp_final-trasladoFONDO.png);

    .bannerimg.convalida {
        background: url(../img/viveutp_final-traslado_PERSONA.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
    }
}

.midbanner.convalida {
    .buttonscont {
        .buttonblack:nth-child(1) {
            background: @purple;
        }
        .buttonblack:nth-child(2) {
            background: @orange;
        }
        .buttonblack:nth-child(3) {
            background: @green;
        }
    }
}

.footer.convalida {
    background: @blue;
}